@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #444;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img { 
    width: 100%;
    max-width: 600px;
}